version: '3'
services:
  web:
    image: nginx:latest
    ports:
      - "8089:80"
    depends_on:
      - "phpfpm"
    volumes:
      - "$PWD/nginx.conf:/etc/nginx/nginx.conf"
      - "$PWD/html:/usr/share/nginx/html"
  phpfpm:
    build: ./phpfpm-Dockerfile
    volumes:
      - ./html:/usr/share/nginx/html
  mysql57:
    image: mysql:5.7
    ports:
      - "13396:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=abcd1234
